@import "tailwindcss";

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

* {
  pointer-events: auto !important;
}

.swiper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
